.curse-content-info-top{
    width: 100%;
    margin-top: 80px;
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.curse-content-info-top-info{
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curse-content-info-top-div{
    margin: 20px 0px;
}

.curse-content-info-top-div h1{
    font-family: 'Mukta', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#curse-content-info-top-div-title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#curse-content-info-top-div-imgStart{
    display: flex;
    gap: 20px;
    width: 97%;
}

.curse-content-info-top-div-imgStart-large1{
    height: 250px;
    background-color: rgb(82, 82, 82);
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
}

.curse-content-info-top-div-imgStart-large2{
    height: 250px;
    background-color: rgb(82, 82, 82);
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);

}

.curse-content-info-top-div-imgStart-large-img1{
    height: 56%;
    border-radius: 0px 0px 20px 20px;  
    border-top: 3px solid rgb(146, 146, 146);
    background-image: url(../img/curse-img-start-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.curse-content-info-top-div-imgStart-large-img2{
    height: 60%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 3px solid rgb(146, 146, 146);
    background-image: url(../img/curse-img-start-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#curse-content-info-top-div-imgStart-small{
    background-color: rgb(82, 82, 82);
    width: 35%;
    margin: 0 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 18px -1px rgba(255,255,255,1);
    box-shadow: 0px 0px 18px -1px rgba(255,255,255,1);
    
}

.curse-content-info-top-div-imgStart-large-text{
    margin: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 15px;
}

.curse-content-info-top-testimony{
    position: relative;
}

.curse-content-info-top-testimony video{
    filter:brightness(0.3) blur(1px);
}

.curse-content-info-top-testimony-volumeOn{
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 50%;
    left: calc(50% - 60px);
    margin-top: 100px;
    z-index: 2;
    backdrop-filter: blur(10px);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 45px;
}

.curse-content-info-top-testimony-volumeOn i{

}

.curse-content-info-top-testimony video{
    height: 800px;
    
}

#curse-content-info-top-div-syllabus{
    background: rgb(43, 43, 43);
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);

}

#curse-content-info-top-div-syllabus h1{
    margin-top: 10px;
}

#curse-content-info-top-div-syllabus p{
    height: 300px;
    width: 92%;
    font-size: 22px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
}

.curse-content-info-bottom{
    width: 100%;
    padding: 80px;
    padding-top: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#curse-content-info-bottom-div-matricle{
    height: 400px;
    width: 70%;
    background-image: url("../img/curse-matricle.jpg");
}

.curse-content-info-bottom-div-matricle-contact{
    background: cadetblue;
    min-width: 452px;
    max-width: 452px;
}

.curse-content-info-bottom-div-matricle-horizontal{
    width: 50%;
    height: 100%;
    background-color: rgba(138, 138, 138, 0.493);
    backdrop-filter: blur(10px);
    border-right: 3px solid rgb(146, 146, 146);;
}

.curse-content-info-bottom-div-matricle-horizontal-text{

}