#all{
    overflow: hidden;
    margin-top: 80px;
}

#all h1{
    font-family: 'Mukta', sans-serif;
    line-height: 1.2;
    color: white;
}

#all h2{
    font-family: 'Mukta', sans-serif;
    line-height: 1.2;
    color: white;
}

#all p{
    font-family: 'Mukta', sans-serif;
    line-height: 1.2;
    color: white;
}

#footer h1{
    color: black;
}

#footer p{
    color: black;
}

.title-curse{
    margin-top: 25px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    opacity: 0;
    text-align: center;
    padding: 10px 15px;
    box-sizing: content-box;
    border-bottom: 2px solid white;
    border-top: 2px solid white;

    transition: all 4s ease;
}

@media (max-width: 435px){
    .title-curse{
        margin: 25px 0;
        margin-top: 40px;
    }
}



.curse-container-top{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 100px 100px 100px;
    flex-shrink: 0;
}

.curse-container-top-img{
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    
    border-radius: 30px;
    flex-shrink: 0;

    -webkit-box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);

}

.curse-container-top-img img{
    width: 100%;
    filter: sepia() contrast(1.5);

    transition: all 2s ease;
}

.curse-container-top-info{
    position: absolute;
    width: 75%;
    height: 210px;
    bottom: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 0;
    backdrop-filter: blur(0px);

    transition: all 2s ease;
}

.curse-container-top-info-individual{
    opacity: 0;
    transform: translateY(100px);

    transition: all 1.5s ease;
}

.curse-container-top-info-individual-sides{
    height: 100%;
    width: 470px;
    background-color: rgba(142, 142, 142, 0.801);
    padding: 15px 10px 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.curse-container-top-info-individual-center{
    height: 100%;
    width: 400px;
    background-color: rgba(142, 142, 142, 0.801);
}

.curse-container-top-info-individual-sides h2{
    position: relative;
    font-size: 38px;
    color: white;
    height: 60px;
    width: 80%;
    display: flex;
    align-items: center;
}

.curse-container-top-info-individual-sides p{
    width: 75%;
    font-size: 22px;
    color: white;
}

#curse-container-top-info-individual-side-left-h2:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    bottom: 0;
    left: -10px;
}


.curse-container-top-info-individual-center{
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#curse-container-top-info-individual-center-first-h2{
    font-size: 34px;
    color: white;
    text-align: center;
}

#curse-container-top-info-individual-center-last-h2{
    position: relative;
    font-size: 36px;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#curse-container-top-info-individual-center-last-h2:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    bottom: 0;
    left: 0;
}

#curse-container-top-info-individual-center-last-h2:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    top: 0;
    left: 0;
}




#curse-container-top-info-individual-side-right{
    align-items: flex-end;
    padding: 15px 30px 15px 10px;
}

#curse-container-top-info-individual-side-right h2{
    position: relative;
    justify-content: flex-end;
}

#curse-container-top-info-individual-side-right p{
    text-align: right;
}

#curse-container-top-info-individual-side-right-h2:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(36, 36, 36);
    bottom: 0;
    left: 10px;
}


@media (max-width: 1510px){
    #curse-container-top-info-individual-center-last-h2{
        font-size: 30px;
    }

    #curse-container-top-info-individual-center-first-h2{
        font-size: 30px;
    }

    .curse-container-top-info-individual-center{
        justify-content: space-around;
    }
}

@media (max-width: 1200px){

    #curse-container-top-info-individual-center-last-h2{
        font-size: 36px;
    }

    #curse-container-top-info-individual-center-first-h2{
        font-size: 34px;
    }

    .curse-container-top-info{
        flex-direction: column;
        width: auto;
        bottom: auto;
        overflow: hidden;
        height: auto;
        flex-shrink: 1;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 70px;
    }

    .curse-container-top-info-individual-center{
        width: auto;
        max-width: 470px;
        height: 240px;
        flex-shrink: 1;
        background-color: rgba(142, 142, 142, 0.901);
    }

    .curse-container-top-info-individual-sides{
        width: auto;
        max-width: 470px;
        height: 240px;
        flex-shrink: 1;
        background-color: rgba(142, 142, 142, 0.901);
    }

    .curse-container-top-img{
        height: 900px;
        position: relative;
    }

    .curse-container-top-img img{
        position: absolute;
        width: auto;
        height: 100%;
        left: -200px;
    }

    .curse-container-top{
        padding: 50px;
    }
}

@media (max-width: 470px){
    #curse-container-top-info-individual-center-last-h2{
        font-size: 30px;
    }

    #curse-container-top-info-individual-center-first-h2{
        font-size: 30px;
    }

    .curse-container-top-info-individual-sides p{
        width: 90%;
    }

    .curse-container-top{
        padding: 35px;
    }
}

/*-------------------Fin top-----------------*/

.curse-container-medium{
    height: 100%;
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;

}

.curse-container-medium-inter{
    width: 60%;
    background-color: rgb(22, 22, 22);
    border-radius: 30px;
    padding: 0 50px;

    -webkit-box-shadow: 0px 0px 68px -35px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 68px -35px rgba(255,255,255,1);
    box-shadow: 0px 0px 68px -35px rgba(255,255,255,1);

}

.curse-container-medium-inter h1{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    color: white;
}

.curse-container-medium-inter-container-individual-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;

}

.curse-container-medium-inter-individual{
    height: 160px;
    width: 260px;
    background-color: rgba(255, 255, 255, 0);
    flex-shrink: 0;

    transition: all 1.5s cubic-bezier(0, 0.1, 0.5, 0.8);
}

.curse-container-medium-inter-individual p {
    width: 100%;
    height: 100%;
    padding: 30px 20px 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    opacity: 0;

    transition: all 1s ease;
}


@media (max-width: 1200px){
    .curse-container-medium{
        padding: 50px 50px 0 50px; 
       
    }

    .curse-container-medium-inter{
        width: 100%;
        padding: 20px;
        overflow: hidden; 
        overflow-x: scroll;
    }

}

@media (max-width: 470px){
    .curse-container-medium{
        padding: 50px 30px 0 30px;  
    }
}



.curse-container-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.curse-container-bottom-inter{
    height: 800px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.curse-container-bottom-prices{
    height: 100%;
    width: 45%;
    background-color: rgb(22, 22, 22);
    border-radius: 15px;
    padding: 0 50px 0 50px
}

.curse-container-bottom-prices h1{
    height: 90px;
    width: 100%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.curse-container-bottom-prices-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 310px;
}

.curse-container-bottom-prices-top-individual{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.curse-container-bottom-prices-top-individual-last{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.curse-container-bottom-prices-top-circle{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
    flex-wrap: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 700ms ease;
    z-index: 9;
}

.curse-container-bottom-prices-top-circle-first{
    background-color: yellow;
}

.curse-container-bottom-prices-top-circle-active{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid yellow;
    flex-shrink: 0;
    display: flex;
    opacity: 0;
    transition: all 700ms ease;
}

.curse-container-bottom-prices-top-circle-active-first{
    display: flex;
    opacity: 1;
    transition: all 700ms ease;
}




.curse-container-bottom-prices-top-individual:before{
    position: absolute;
    content: '';
    background-color: rgba(199, 199, 199, 0.884);
    height: calc(100% + 15px);
    width: 2.2px;
    left: 9px;
    z-index: 9;
}

.curse-container-bottom-prices-top-individual h2{
    font-size: 28px;
    transform: translateY(-5px);
    cursor: pointer;
    height: 40px;
}

.h2-prices{
    font-size: 28px;
    transform: translateY(-5px);
    cursor: pointer;
}


.curse-container-bottom-prices-top-individual-content{

}

.curse-container-bottom-prices-top-individual-content p{
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    max-height: 0;
    opacity: 0;
    

    transition: all 1.5s ease;
}


.curse-container-bottom-prices-top-individual-content-first p{
    padding: 10px 0 30px 15px;
    opacity: 1;
    max-height: 300px;
}

.curse-container-bottom-prices-img{
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(5);
    z-index: 999;
    border-radius: 15px;

    transition: all 800ms ease;
}

.curse-container-bottom-prices-img img{
    height: 100%;
}


.curse-container-bottom-prices-bottom{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.curse-container-bottom-prices-bottom p{
    font-size: 22px;
    text-align: center;
}

.curse-container-bottom-prices-bottom-wpp-container{
    height: 50px;
    width: 70%;
    background-color: rgb(119, 119, 119);
    cursor: pointer;
    border-radius: 20px;
    opacity: 0;

    transition: all 500ms ease;
}

.curse-container-bottom-prices-bottom-wpp-container a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.curse-container-bottom-prices-bottom-wpp-container i{
    font-size: 40px;
    color: white;
}

.curse-container-bottom-testimony{
    position: relative;
    height: 100%;
    width: 45%;
    background-color: gray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    z-index: 6;
}

.curse-container-bottom-testimony video{
    width: auto;
    filter:brightness(0.3) blur(1px);

    transition: all 1s ease;
}

.curse-content-info-top-testimony-volumeOn{
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    backdrop-filter: blur(10px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 45px;

    transition: all 400ms ease;

}

.fa-volume-xmark{
    opacity: 0;
    position: absolute;
}



@media (max-width: 1650px){
    .curse-container-bottom-inter{
        width: 70%;
    }
}

@media (max-width: 1370px){
    .curse-container-bottom-prices-top{
        height: 320px;
    }
}

@media (max-width: 1200px){
    .curse-container-bottom-prices-top{
        height: 320px;
    }

    .curse-container-bottom-inter{
        width: 100%;
        padding: 0 50px;
    }

    .curse-container-bottom-prices{
        width: 48%;
    }

    .curse-container-bottom-testimony{
        width: 48%;
    }

    .curse-container-bottom-testimony video{
        width: 150%;
    }
}

@media (max-width: 960px){
    .curse-container-bottom-inter{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        height: 100%;
    }

    .curse-container-bottom-prices{
        width: 70%;
    }

    .curse-container-bottom-testimony{
        width: 70%;
    }

}

@media (max-width: 700px){
    .curse-container-bottom-prices{
        width: 100%;
    }

    .curse-container-bottom-testimony{
        width: 100%;
    }
}

@media (max-width: 545px){
    .curse-container-bottom-prices-top {
        height: 350px;
    }
}

@media (max-width: 470px){
    .curse-container-bottom-inter{
        padding: 0 30px;
    }
}

@media (max-width: 450px){
    .curse-container-bottom-prices{
        padding: 0 30px 0 30px;
    }

    .curse-container-bottom-prices-bottom-wpp-container{
        width: 90%;
    }

    .curse-container-bottom-prices-bottom-wpp-container a{
        gap: 10px;
    }
}

@media (max-width: 400px){
    .curse-container-bottom-prices-top {
        height: 380px;
    }
}

























































/*




.curse-content-info-top{
    width: 100%;
    margin-top: 80px;
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.curse-content-info-top-info{
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.curse-content-info-top-div{
    margin: 0px 0px 10px 0px;
    display: flex;
}



.curse-content-info-top-div h1{
    font-family: 'Mukta', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#curse-content-info-top-div-title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#curse-content-info-top-div-imgStart{
    display: flex;
    gap: 20px;
    width: 95%;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.curse-content-info-top-div-imgStart-large1{
    height: 250px;
    background-color: rgb(82, 82, 82);
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
}

.curse-content-info-top-div-imgStart-large2{
    height: 250px;
    background-color: rgb(82, 82, 82);
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);

}

.curse-content-info-top-div-imgStart-large-img1{
    height: 100%;
    border-radius: 20px 20px 20px 20px;  
    border-top: 3px solid rgb(146, 146, 146);
    background-image: url(../img/curse-img-start-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.curse-content-info-top-div-imgStart-large-img2{
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    border-bottom: 3px solid rgb(146, 146, 146);
    background-image: url(../img/curse-img-start-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#curse-content-info-top-div-imgStart-small{
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 18px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 18px -1px rgba(255,255,255,1);
    box-shadow: 0px 0px 18px -1px rgba(255,255,255,1);
    
}

#curse-content-info-top-div-imgStart-small-h1{
    opacity: 0;
    font-size: 36px;
    transition: all 4s ease;
}

.curse-content-info-top-div-imgStart-large-text{
    margin: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 0;
    overflow: hidden;
    opacity: 0;

    transition: height 2s ease, opacity 2s ease;
}

.curse-content-info-top-div-imgStart-large-text p{
    font-family: 'Mukta', sans-serif;
    line-height: 1.3;
}


.curse-content-info-top-testimony{
    position: relative;
    display: flex;
    align-items: center;
}

.curse-content-info-top-testimony video{
    filter:brightness(0.3) blur(1px);
    transition: all 1s ease;

}

#curse-content-info-top-testimony-video{
    opacity: 0;
    transition: opacity 3s ease;
}

.curse-content-info-top-testimony-volumeOn{
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 50%;
    left: calc(50% - 60px);
    margin-top: 100px;
    z-index: 2;
    backdrop-filter: blur(10px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 45px;
    opacity: 0;

    transition: opacity 2s ease;
}

.curse-content-info-top-testimony-volumeOn i{

}

.curse-content-info-top-testimony video{
    max-height: 80%;
    width: 100%;
}



#curse-content-info-top-div-syllabus{
    width: 95%;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    overflow: hidden;
    padding: 25px 20px 25px 20px;

    transition: opacity 3s ease, height 1.5s ease;

}

#curse-content-info-top-div-syllabus-inter{
    background: rgb(43, 43, 43);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
}

#curse-content-info-top-div-syllabus h1{
    margin-top: 10px;
}

#curse-content-info-top-div-syllabus p{
    height: 300px;
    width: 92%;
    font-size: 21px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
}

@media (max-width: 1750px){
    .curse-content-info-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .curse-content-info-top-div{
        flex-direction: column;
        align-items: center;
    }

    .curse-content-info-top-info{
        width: 100%;
    }

    #curse-content-info-top-div-imgStart{
        gap: 40px;
    }

    #curse-content-info-top-div-imgStart-small{
        height: 200px;
        width: 70%;
        margin: 0;
    }

    .curse-content-info-top-div-imgStart-large-text{
        font-size: 23px;
    }

    .curse-content-info-top-div-imgStart-large1{
        width: 100%;
        margin: 0;
    }

    .curse-content-info-top-div-imgStart-large2{
        width: 100%;
        padding: 0;
    }

    #curse-content-info-top-div-syllabus{
        width: 70%;
        height: 450px;
    }

    #curse-content-info-top-div-imgStart{
        width: 100%;
        flex-direction: row;
    }

    #curse-content-info-top-div-syllabus p{
        font-size: 25px;
    }

    .curse-content-info-top-testimony video{
        width: 80vw;
        max-width: 700px;
        margin-top: 30px;
    }
}

@media (max-width: 1200px){
    .curse-content-info-top-info{
        width: 100%;
    }
    .curse-content-info-top{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }

    #curse-content-info-top-div-imgStart{
        width: 100%;
        flex-direction: column;
    }

    #curse-content-info-top-div-imgStart-small{
        width: 80vw;
    }

    .curse-content-info-top-div-imgStart-large1{
        width: 80vw;
        margin: 0;
    }

    .curse-content-info-top-div-imgStart-large2{
        width: 80vw;
        padding: 0;
    }

    #curse-content-info-top-div-syllabus{
        width: 80vw;
        height: 350px;
    }

    #curse-content-info-top-div-syllabus p{
        font-size: 22px;
    }
}

@media (max-width: 770px){
    #curse-content-info-top-div-syllabus p{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    #curse-content-info-top-div-syllabus p{
        font-size: 18px;
    }

    .curse-content-info-top-div-imgStart-large-text p{
        font-size: 20px;
        line-height: 1.1;
    }

    #curse-content-info-top-div-imgStart-small h1{
        font-size: 34px;
        line-height: 1.3;
    }

    #curse-content-info-top-div-title{
        margin-top: 40px;
        display: none;
    }
}

@media (max-width: 440px){
    #curse-content-info-top-div-syllabus{
        height: calc(550px - 30vw);
        justify-content: flex-start;
        overflow-y: scroll;
    }

    #curse-content-info-top-div-title{
        margin-top: 40px;
        margin-bottom: 40px;
    }

}

@media (max-width: 370px){
    #curse-content-info-top-div-syllabus p{
        font-size: 17px;
    }
}

.curse-content-info-bottom{
    width: 100%;
    padding: 80px;
    padding-top: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#curse-content-info-bottom-div-matricle{
    height: 400px;
    width: 70%;
    max-width: 1200px;
    background-image: url("../img/curse-matricle.jpg");
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px -6px rgba(255,255,255,1);
    display: none;
}

/*---------contactttttttttttttttttttt------
.curse-content-info-bottom-div-matricle-contact{
    background: cadetblue;
    width: 480px;
    display: none;
}

.curse-content-info-bottom-div-matricle-horizontal{
    width: 0px;
    overflow: hidden;
    height: 400px;
    background-color: rgba(138, 138, 138, 0.493);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-right: 3px solid rgb(146, 146, 146);
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 2s ease;
}

.curse-content-info-bottom-div-matricle-horizontal-text{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    opacity: 0;

    transition: opacity 2s ease;
}

.curse-content-info-bottom-div-matricle-horizontal-text-top{
    width: 100%;
}

.curse-content-info-bottom-div-matricle-horizontal-text-top p{
    font-family: 'Mukta', sans-serif;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.curse-content-info-bottom-div-matricle-horizontal-text-top h1{
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    color: rgb(255, 255, 255);
}

.curse-content-info-bottom-div-matricle-horizontal-text-bottom{
    height: 75px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(75, 75, 75);
    border-radius: 30px;
    color: rgb(255, 255, 255);
}

.curse-content-info-bottom-div-matricle-horizontal-text-bottom-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
}

.curse-content-info-bottom-div-matricle-horizontal-text-bottom-img a{
    color: rgb(255, 255, 255);
}

@media (max-width: 1750px){
    .curse-content-info-bottom{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    }

    #curse-content-info-bottom-div-matricle{
        background-image: url(../img/curse-matricle-vertical.jpg);
        background-position: bottom;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 800px;
        width: 80vw;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curse-content-info-bottom-div-matricle-contact{
        width: 80vw;
        height: 400px;
        max-width: 900px;
    }

    .curse-content-info-bottom-div-matricle-horizontal{
        width: 100%;
        height: calc(60% - 5vw);
        border-bottom: 4px solid rgb(206, 206, 206);
        border-right: 0;
        border-radius: 15px 15px 0px 0px;
        height: 0;
    }

}

@media (max-width: 520px){
    .curse-content-info-bottom-div-matricle-horizontal-text-top p{
        font-size: 18px;
    }
    
    .curse-content-info-bottom-div-matricle-horizontal-text{
        padding: 0 20px;
    }

    .curse-content-info-bottom-div-matricle-horizontal{
        align-items: center;
        overflow-x: scroll;
    }

    .curse-content-info-bottom-div-matricle-horizontal-text-bottom{
        min-width: 220px;
    }
}

*/