/*-------------------------Content---------------------------*/

/*-------------------------Cover-------------------------------*/
.cover{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-box-shadow: 0px 0px 11px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 11px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 11px 3px rgba(255,255,255,1);
}

.slides {
    position: absolute;
    min-width: 100%;
    opacity: 0;
    object-fit: cover;
    bottom: -180px;
    transition: opacity 0.6s ease-in-out, transform 3s ease;
    transform: scale(1);
}

.slides.actives {
    opacity: 1;
    transform: scale(1.05);
}


@media (min-height: 1080px){
    .slides{
        min-width: 100%;
        height: 100vh;
        transform: scale(1.25);
    }

    .slides.actives {
        opacity: 1;
        transform: scale(1.30);
    }
}

@media (max-height: 600px){
    .slides{
        bottom: -250px;
        transform: scale(0.7);
    }
}

@media (max-width: 700px){
    .slides.actives {
        opacity: 1;
        transform: translateX(3%) scale(1);
    }
    .slides{
        height: 100vh;
        min-width: 100vw;
        bottom: 0;
        transform: scale(1) translateX(-2%);
    }
}


/*------------------------Start-button-----------------------*/
.button-start{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.button-start div{
    font-size: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 90;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    backdrop-filter: blur(3px) contrast(1.3) saturate(2);
    -webkit-backdrop-filter: blur(3px) contrast(2) saturate(2);
    border: 3px solid rgb(226, 226, 226);
    opacity: 0;
    
    transform: translateY(-1200px);
    filter: blur(5px);
    transition: filter 3s ease, transform 2s ease, opacity 2s ease;
    animation: '';
}

@keyframes jump {
    0% {
      transform: translateY(-140px); 
    }
    50% {
      transform: translateY(-150px); 
    }
    100% {
      transform: translateY(-140px); 
    }
  }

@media (max-width: 1100px){
    @keyframes jump {
        0% {
          transform: translateY(-200px); 
        }
        50% {
          transform: translateY(-210px); 
        }
        100% {
          transform: translateY(-200x);
        }
      }
}
/*-------------------------------------------------------------*/

/*--------------------------------------service---------------------*/
.section-service{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#service{
    width: 100%;
    height: 100%;
    position: relative;

}

#service-button{
    width: 70%;
    height: 70px;
    background-color: rgb(207, 207, 207);
    border-radius: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#service-button .i-div{
    font-size: 40px;
    color: rgb(15,15,15);
}

#service-button h2{
    font-size: 35px;
    color: rgb(15,15,15);
    font-family: 'Mukta', sans-serif;
}

.service-content {
    height: 100%;
    opacity: 1; /* initially, set the opacity in 0 */
    overflow: hidden; 
    transition: max-height 1500ms ease, opacity 1000ms ease; 
  }
  
  .service-content-active {
    max-height: 2200px; 
    opacity: 1; 
  }

.service-content-full{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.service-content-inter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
}

.service-content-inter-left{
    height: 340px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}

.service-content-inter-right{
    height: 340px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}

.service-content-inter-img {
    position: relative;
    height: 300px;
    width: 550px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    float: left;

    -webkit-box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 15px 3px rgba(255,255,255,0.5);
}

.service-content-inter-img img {
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.img-service-1 {
    animation: img1Animation 7s infinite; 
}

.img-service-2 {
    animation: img2Animation 7s infinite; 
}

@keyframes img1Animation {
    0%,
    45%,
    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
    50.5%,
    95.5% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(1.1);
    }
}

@keyframes img2Animation {
    0%,
    45%,
    100% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(1.1);
    }
    50.5%,
    95.5% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1);
    }
}

.service-content-inter-text-left{
    background-color: rgb(25, 59, 59);
    height: 200px;
    width: 300px;
    border-radius: 4%;
    -webkit-box-shadow: -19px 0px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px 0px 30px -12px rgba(0,0,0,0.75);
    box-shadow: -19px 0px 30px -12px rgba(0,0,0,0.75);
    z-index: 10;
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    
    opacity: 0;
    filter: blur(30px);
    transition: filter 1s ease, opacity 2s ease, transform 1s cubic-bezier(0.895, 0.03, 0.685, 1);
    transform: translateX(200px);
}

#cursor-service{
    font-size: 40px;
    color: white;
    position: absolute;
    transform: translateX(500px) translateY(36px);
    opacity: 0;

    transition: transform 2s ease, opacity 2s ease, color 2s ease;

}

.service-content-inter-text-right{
    background-color: rgb(25, 59, 59);
    height: 200px;
    width: 300px;
    border-radius: 4%;
    -webkit-box-shadow: 19px 0px 30px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 0px 30px -12px rgba(0,0,0,0.75);
    box-shadow: 19px 0px 30px -12px rgba(0,0,0,0.75);
    z-index: 10;
    background-color: rgb(48, 48, 48);
    cursor: pointer;

    opacity: 0;
    filter: blur(30px);
    transition: filter 1s ease, opacity 2s ease, transform 1s cubic-bezier(0.895, 0.03, 0.685, 1);
    transform: translateX(-200px);
    
}

.service-content-inter-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-content-inter-text-h2{
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
    transition: transform 500ms ease, opacity 500ms ease;
    padding: 20px;
    text-align: center;
}

.service-content-inter-text:hover h2{
    transform: scale(1.1);
}

.service-content-inter-text-p{
    opacity: 0;
    display: none;
    transition: opacity 500ms ease;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

@media (max-width: 1650px){
    .service-content-inter-left{
        margin: 30px 0;
    }
}

@media (max-width: 1300px){
    .service-content-inter-right{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        padding-top: 18px;
        padding-right: 0;
        
    }

    .service-content-inter-text-right{
        transform: translateX(0);
        transform: translateY(-40px);
        transform: translateY(-200px);
    }

    .service-content-inter-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        padding-top: 18px;
        padding-left: 0;
        margin: 0;
    }

    .service-content-inter-text-left{
        transform: translateX(0);
        transform: translateY(-40px);
        transform: translateY(-200px);    
    }

    .service-content-inter-text{
        -webkit-box-shadow: 0px -18px 26px -5px rgba(0,0,0,1);
        -moz-box-shadow: 0px -18px 26px -5px rgba(0,0,0,1);
        box-shadow: 0px -18px 26px -5px rgba(0,0,0,1);
    }
}

@media (max-width: 900px){
    .service-content-full{
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 650px){
    .service-content-inter-img{
        height: 48vw;
        width: 97%;
        
    }

    .service-content-inter-left{
        padding: 15px 25px 15px 25px;
    }

    .service-content-inter-right{
        padding: 15px 25px 15px 25px;
    }

    .service-content-inter-text-left{
        height: 30vw;
        width: 70%;
        padding-left: 0;
    }

    .service-content-inter-text-right{
        height: 30vw;
        width: 70%;
        padding-right: 0;
    }

}

@media (max-width: 500px){
    .service-content-inter-text-h1-large{
        font-size: 22px;
    }
}

@media (max-width: 430px){
    .service-content-inter-text-h1{
        font-size: 26px;
    }

    .service-content-inter-text-h1-large{
        font-size: 18px;
    }

    .service-content-inter-text-p{
        font-size: 18px;
    }
}

@media (max-width: 380px){
    .service-content-inter-text-p{
        font-size: 16px;
    }
}

@media (max-width: 330px){
    .service-content-inter-text-p{
        font-size: 14px;
    }
}

/*--------------------------ubication---------------*/

.section-ubication{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.section-ubication h2{
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
    line-height: 1.3;
}

#section-ubication-h2-1{
    color: white;
    font-size: 30px;
    line-height: 1.2;

    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 6px 0;
    box-sizing: content-box;
}

#container-ubicacion-map{
    height: 480px;
    width: 900px;
    margin-top: 30px;
    margin-bottom: 10px;
    z-index: 2;
    box-sizing: border-box;
    filter: grayscale(80%) invert() saturate(2);
}


.map-text-bottom{
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    justify-content: space-between;
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    align-items: center;
    line-height: 1;
}

.map-text-bottom p{
    text-align: justify;
    color: rgb(255, 255, 255);
    line-height: 1.3;
}

.direction-p{
    font-size: 26px;
}

.text-Horarios{
    font-size:26px;
}

@media (max-width: 900px){
    #container-ubicacion-map{
        width: 100%;
        height: 80vw;
    }

    .section-ubication{
        padding: 0 20px;
    }

    .map-text-bottom{
        width: 100%;
    }
    
}

@media (max-width: 780px){
    .map-text-bottom{
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}

@media (max-width: 480px){

}

/*-----------------------------SLider curse----------------------------*/

.section-curse-slider{   /* All slider container */
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: block;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
}


.section-curse-slider-h2{
    width: 65%;
    height: 20%;
    max-height: 150px;
    max-width: 700px;
    -webkit-backdrop-filter: blur(7px) brightness(0.6);
    backdrop-filter: blur(7px) brightness(0.6);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.5s ease;

    -webkit-box-shadow: 0px 0px 27px -11px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 27px -11px rgba(255,255,255,1);
    box-shadow: 0px 0px 27px -11px rgba(255,255,255,1);
}

.section-curse-slider-h2:hover{
    -webkit-backdrop-filter: blur(20px) brightness(30);
    backdrop-filter: blur(20px) brightness(30);

    -webkit-box-shadow: 0px 0px 44px 7px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 44px 7px rgba(255,255,255,1);
    box-shadow: 0px 0px 44px 7px rgba(255,255,255,1);
}

.section-curse-slider-h2:hover h2{
    color: black;
}




.section-curse-slider h2{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3vw;
    z-index: 999;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all 0.7s ease;
    
    font-family: 'Mukta', sans-serif;
}



.container-slider{
    width: 100%;
    max-height: 800px;
    display: flex;
}

.content-slider{
    max-height: 900px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    align-items: center;

}


.slider-img{
    width: 100%;
    filter: blur(0px) brightness(1);
    transition: all 300ms ease;
}

.slider-img img{
    width: 100%;
}

@media (max-width: 1800px){
    .section-curse-slider h2{
        font-size: 3vw;
    }
}

@media (max-width: 1300px){
    .section-curse-slider h2{
        font-size: 4vw;
    }

}

@media (max-width: 750px){
    .section-curse-slider-h2{
        width: 70%;
        height: 25%;
    }

    .section-curse-slider h2{
        font-size: 5vw;
    }
}

@media (max-width: 560px){
    .section-curse-slider h2{
        font-size: calc(15px + 2vw);
    }

    .section-curse-slider{
        height: 600px;
    }

    .slider-img{
        height: 600px;
        width: auto;
        
    }

    .slider-img img{
        height: 600px;
        width: auto;
    }

    .section-curse-slider-h2{
        min-height: 12%;
        height: auto;
        padding: 0px 10px;
        box-sizing: content-box;
}
}


/*------------Section testimonials-------------*/

.section-testimonials{
    width: 70%;
    margin: auto;
    min-height: 600px;
    max-height: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
}

.container-testimonial{
    height: 350px;
    width: 23%;
    background-color: rgb(48, 48, 48);
    margin: 40px 0;
    flex-shrink: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 36px -11px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 36px -11px rgba(255,255,255,1);
    box-shadow: 0px 0px 36px -11px rgba(255,255,255,1);
    border-radius: 10%;
    min-width: 250px;

}

#container-testimonial-1{
    transform-origin: bottom left; /* Set the origin of transformation to the bottom left corner */
    transform: rotate(-30deg);
    opacity: 0;

    transition: all 1s ease;
}

#container-testimonial-2{
    opacity: 0;

    transition: all 1s ease;
}

#container-testimonial-3{
    transform-origin: bottom right; /* Set the origin of transformation to the bottom rigth corner */
    transform: rotate(30deg);
    opacity: 0;

    transition: all 1s ease;
}

.container-testimonial-img{
    background-color: rgb(73, 73, 73);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    border: 5px solid rgb(255, 255, 255);
}

.container-testimonial-img img{
    width: 100%;
}

.container-testimonial-text h2{
    font-size: 28px;
}

.container-testimonial-text{
    text-align: center;
    padding: 30px;
    color: rgb(255, 255, 255);
    min-width: 250px;
    margin-top: 15px;

}

.container-testimonial-text p{
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 15px;
}

@media (max-width: 1620px){
    .container-testimonial-text p{
        font-size: 18px;
    }

    .container-testimonial-text h2{
        font-size: 26px;
    }
}

@media (max-width: 640px){
    .section-testimonials{
        overflow: hidden;
        width: 100%;
        flex-direction: column;
    }

    .container-testimonial{
        min-width: 230px;
        height: 270px;
    }

    .container-testimonial-text p{
        font-family: 'Mukta', sans-serif;
        font-size: 16px;
        line-height: 1.2;
        margin-top: 5px;
    }

    .container-testimonial-text{
        padding: 30px;
        padding-bottom: 10px;
    }

    .container-testimonial-text h2{
        font-size: 20px;
    }

    .container-testimonial-img{
        height: 90px;
        width: 90px;
    }
}




/*----------------frequent-questions------------------*/
.section-frequent-questions{
    height: 100%;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    overflow: hidden;
}

.container-frequent-questions{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.bar{
    background-color: rgb(82, 82, 82);
    padding-top: 0;
    overflow: hidden;
    width: 90%;
    margin: auto;
    cursor: pointer;
    border-radius: 15px;
    opacity: 0;
    filter: blur(3px);
    
    transition: opacity 1s ease, filter 1.5s ease, transform 2s ease;
    
}

.bar-1{
    transform: translateX(-200px);
    
}

.bar-2{
    transform: translateX(200px);
    overflow: hidden;
}

.bars-top{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 800px;
    margin: auto;
}

.bars-bottom{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 800px;
    margin: auto;
}

@media (max-width: 1150px){
    .bars-top{
        width: 100%;
        overflow: hidden;
   }

   .bars-bottom{
        width: 100%;
        overflow: hidden;
    }

    .section-frequent-questions{
        width: 100%;
    }

}

.bar-flex{
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(207, 207, 207);
    justify-content: space-between;
    padding: 10px;
    transition: filter 1s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}

.bar-flex:hover{
    filter: invert();
}

.inactive{
    display: block;
    font-size: 23px;
    transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: center;
}

.active{
    display: none;
    font-size: 23px;
}

.title-bar{
    font-size: 20px;
    margin-right: 15px;
}

.container-bar{
    border-radius: 15px;
    display: block;
    overflow: hidden;
    background-color: rgb(82, 82, 82);
    min-height: 100%;
    max-height: 0px; 
    opacity: 0; 
    transition: all 1000ms ease;
}   



.container-bar p{
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
  
.active-bar {
    max-height: 400px; 
    opacity: 1; 
}

    
@media (max-width: 640px){
    .title-bar{
        font-size: 17px;
    }

    .container-bar p{
        font-size: 16px;
    }
}

@keyframes bar-content-active {
    from{
        height: 0;
        display: none;
    }to {
        height: 100px;
        display: block;
    }
}

@keyframes bar-content-inactive {
    from{
        max-height: 0;
    }to {
        display: block;
        max-height: 100%;
    }
}

/*----------------------------------------------------*/

