h1,h2,h3,h4{
    font-family: 'Mukta', sans-serif;
    color: white;
}

p, li{
    color: white;
}

#members-info-section{
    margin: 80px auto 0px auto;
    padding: 50px 0;
    max-width: 980px;
}

#title-and-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title-and-info p{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

#title-and-info h1{
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
}

#members-container-and-bottom-button-all{
    margin-top: 80px;
    max-width: 980px;
    display: flex;
    flex-direction: column;
}

#members-container-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.member-container-individual{
    display: flex;
    flex-direction: column;
}

.members-cover{
    width: 350px;
    height: 350px;
    filter: blur(1px);
    -webkit-box-shadow: 0px 0px 14px -3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(255,255,255,1);
    box-shadow: 0px 0px 14px -3px rgba(255,255,255,1);
}

.member-container-individual h2{
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}

.member-container-individual h3{
    text-align: center;
    font-size: 26px;
    margin-top: -8px;
}

.member-container-individual ul{
    box-sizing: content-box;
    max-width: 280px;
    margin: 20px 20px 0 50px;
    font-size: 20px;
}

.buy-member-button-with-mercado-pago{
    width: 120px;
    margin: 30px auto 0 auto;
    background-color: rgb(25, 25, 25);
    padding: 10px 20px 10px 20px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,1);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.buy-member-button-with-mercado-pago:hover{
    transform: scale(1.07);
}

.buy-member-button-with-mercado-pago p{
    font-size: 24px;
    font-weight: 800;
}

.buy-member-button-with-mercado-pago img{
    width: 100px;
    margin-top: 5px;
}

#buy-member-button-with-msg-external{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: fit-content;
    margin: auto;
    margin-top: 50px;
}

#buy-member-button-with-msg-external i{
    border-radius: 50%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.644);
    width: 50px !important;
    height: 50px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buy-member-button-with-msg-internal{
    width: 330px;
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    background-color: rgb(25, 25, 25);
    padding: 14px 17px 14px 17px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(255,255,255,1);
    box-shadow: 0px 0px 14px -3px rgba(255,255,255,1);
}



#friends-company-container-all{
    margin: 30px auto 40px auto;
    padding: 40px 0;
    max-width: 980px;
}

#friends-company-title-and-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friends-company-title-and-info-container h2{
    text-align: center;
    font-size: 38px;
}

#friends-company-title-and-info-container p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

#friends-company-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.friends-company-container-individual{
    display: flex;
    max-height: 400px;
    padding: 0 60px;
    margin-top: 50px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.594);
    padding-bottom: 40px;
    box-sizing: content-box;
}

.friends-company-container-individual-left{
    flex: 1;
}

.friends-company-container-individual-left img{
    height: 100%;
    width: 100%;
    min-height: 320px;
    min-width: 320px;
}

.friends-company-container-individual-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-company-container-individual-right h3{
    font-size: 34px;
}

.friends-company-container-individual-right h2{
    font-size: 26px;
}

.friends-company-container-individual-right ul{

}

.friends-company-container-individual-right-inter{

}

@media (max-width: 1030px){
    #members-info-section{
        padding: 50px 100px;
    }

    .friends-company-container-individual{
        padding: 0 20px;
        padding-bottom: 50px;
    }
}

@media (max-width: 880px){
    #members-container-all{
        flex-direction: column;
    }

    .member-container-individual{
        align-items: center;
    }

    .friends-company-container-individual-right{
        justify-content: flex-end;
    }
}

@media (max-width: 820px){
    .friends-company-container-individual{
        flex-direction: column;
        max-height: fit-content;
    }

    .friends-company-container-individual-left img{
        width: 350px;
        height: 350px;
    }

    .friends-company-container-individual-right{
        justify-content: center;
    }
}

@media (max-width: 660px){
    #title-and-info h1 {
        font-size: 35px;
    }

    #title-friends{
        font-size: 33px;
    }
}

@media (max-width: 590px){
    #members-info-section{
        padding: 50px 20px;
    }
}

@media (max-width: 566px){
    #buy-member-button-with-msg-external a{
        display: none;
    }   

    h1, #title-friends, .info-p{
        text-align: left !important;
        width: 100%;
    }
}

@media (max-width: 510px){
    .friends-company-container-individual{
        padding: 0 20px;
        padding-bottom: 50px;
    }
}

@media (max-width: 430px){
    .friends-company-container-individual-left img{
        width: 100%;
        height: auto;
        min-height: auto;
        min-width: auto;
    }

    .members-cover{
        height: auto;
        width: 100%;
    }

    .member-container-individual{
        padding: 0 10px;
    }
}

@media (max-width: 415px){
    .member-container-individual ul{
        margin: 20px 0 20px 0;
        font-size: 18px;
    }
}

@media (max-width: 380px){
    #buy-member-button-with-msg-internal{
        padding: 14px 10px 14px 10px;
        width: 100%;
    }
}
