
.calendly-flex{
    margin-top: 80px;
    padding: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.calendly{
    background-color: rgb(15, 15, 15);
    min-width: 320px;
    max-width: 100%;
    height: 1040px;
    overflow-y: hidden;
}

.calendly-inline-widget{
    margin: auto;
    background-color: rgb(15, 15, 15) !important;
    width: 500px;
    height: 1050px;
    overflow-y: hidden;
}

#footer{
    margin-top: 50px;
}

@media (max-width: 700px){
    .calendly-inline-widget{
        width: 100%;
        height: 1050px;
        overflow-y: hidden;
    }

    .calendly-flex{
        padding: 10px; 
        justify-content: center;   
        overflow-y: hidden;
    }
}